---
layout: layout
---

include /navbar.pug
header(class="px-5 md:px-10 py-10")
    h1(class="font-title text-5xl text-gray-900") Me, But <em>Online</em>.
    p(class="text-lg text-gray-600 mt-5 max-w-prose")
        | A collection of minimalist, innovative personal websites with great typography.
        | Curated&nbsp;by&nbsp;#[a.underline(href="https://kabirgoel.com") Kabir].
    include /subscribe.pug
div(class="px-5 md:px-10 mb-24")
    div(class="grid-cols-1 md:grid-cols-3 grid gap-8")
        each site in sites
            a(href=site.link, class="block group")
                img(src=site.thumbnail.jpeg[0].url, class="group-hover:shadow-xl transition-shadow w-full")
                div(class="pt-2")
                    p(class="font-medium text-2xl")= site.name
                    p(class="text-gray-600 text-sm")= new Date(site.date).toLocaleDateString(undefined, {month: 'long', day: 'numeric', year: 'numeric'})
footer(class="px-5 md:px-10 max-w-screen-md text-gray-500 mb-12") © 2022 Kabir Goel. All listed websites belong to their respective authors.