doctype html
html
    head
        title Me, But Online
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/app.css")

        <meta name="title" content="Me, But Online.">
        <meta name="description" content="A collection of minimalist, original personal websites with great typography. Curated by Kabir Goel.">

        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.mebut.online/">
        <meta property="og:title" content="Me, But Online.">
        <meta property="og:description" content="A collection of minimalist, original personal websites with great typography. Curated by Kabir Goel.">
        <meta property="og:image" content="https://www.mebut.online/preview.png">

        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://www.mebut.online/">
        <meta property="twitter:title" content="Me, But Online.">
        <meta property="twitter:description" content="A collection of minimalist, original personal websites with great typography. Curated by Kabir Goel.">
        <meta property="twitter:image" content="https://www.mebut.online/preview.png">

    body
        | !{content}

        <script async defer src="https://a7s.mebut.online/latest.js"></script>
        <noscript><img src="https://a7s.mebut.online/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>