doctype html
html
    head
        title Me, But Online
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="favicon", href="/favicon.png")
        link(rel="stylesheet", href="/app.css")
    body
        block content