form(action="https://buttondown.email/api/emails/embed-subscribe/mebut.online", method="POST", class="md:flex-row md:space-x-2 md:space-y-0 mt-5 flex flex-col items-stretch space-y-2")
    label(for="email")
        input#email(type="email", name="email", placeholder="Your email", class="border py-2 px-3 rounded w-full")
    button(type="submit", value="Subscribe", class="border rounded py-2 px-5 bg-gray-900 text-white tracking-tight font-medium") Subscribe
