@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        @apply bg-gray-100;
    }
}

@layer components {
    .navbar-link {
        @apply text-gray-900 font-medium md:underline md:decoration-gray-400 border-t md:border-t-0 pt-5 md:pt-0 px-5 md:px-0;
    }

    .content {
        @apply my-24 text-gray-600;
    }

    .content h1, h2, h3, h4, h5, h6 {
        @apply font-medium text-xl mt-10 text-black;
    }

    .content h1 {
        @apply text-5xl font-title;
    }

    .content p {
        @apply my-5;
    }

    .content li p {
        @apply my-0 inline;
    }

    .content ul {
        @apply list-disc list-inside;
    }

    .content ol {
        @apply list-decimal list-inside;
    }

    .content li {
        @apply my-3;
    }

    .content li::marker {
        @apply text-gray-900 font-medium;
    }

    .content a {
        @apply underline;
    }

    .content hr {
        @apply border-gray-400;
    }

    .content .footnotes-sep {
        @apply my-8;
    }

    .content .footnotes {
        @apply text-gray-500;
    }
}

@font-face {
    font-family: Redaction;
    src: url(/redaction-regular.woff2);
}
@font-face {
    font-family: Redaction;
    font-style: italic;
    src: url(/redaction-italic.woff2);
}